body {
    background: #3A3A3A;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 24px;
    line-height: 40px;
}

h4 {
    font-size: 18px;
    line-height: 20px;
}

/* Won't be used here */

h5 {
    font-size: 14px;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 20px;
}

#Page {
    width: 98%;
    min-width: 1000px;
    background-color: white;
    border-radius: 15px;
    margin: 10px auto 0px auto;
    left: auto;
    right: auto;
    padding: 10px;
}

.gradientBoxesWithOuterShadows {
    padding: 5px;
    background-color: white;
    /* outer shadows  (note the rgba is red, green, blue, alpha) */
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
    /* rounded corners */
    -webkit-border-radius: 12px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    /* gradients */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(246, 246, 246)), color-stop(15%, rgb(240, 240, 240)), color-stop(100%, #E1E1E1));
}

.PagingControls {
    width: 50%;
}

    .PagingControls p {
        text-align: center;
    }

.Centered {
    text-align: center;
    vertical-align: middle;
}

.FloatLeft {
    float: left;
}

    .FloatLeft br {
        clear: both;
    }

.niceHeading {
    text-shadow: 0px 0 16px #0A0066, 4px 0 47px #2E0066;
    font-size: 4em;
}

.nice-button {
    -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background: -moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color: #79bbff;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
    text-indent: 0;
    border: 1px solid #84bbf3;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #528ecc;
}

    .nice-button:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
        background: -moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
        background-color: #378de5;
    }

    .nice-button:active {
        position: relative;
        top: 1px;
    }


#ApplicationTitle {
    text-shadow: 0px 0 16px #0A0066, 4px 0 47px #2E0066;
    font-size: 8em;
}

.Listbox {
    width: 100% !important;
    height: 755px;
    background-color: transparent;
    border: none;
}

.SmallButtonPanel {
    width: 16px;
    text-align: center;
    vertical-align: middle;
}

.BigOneLineTextbox {
    height: 42px;
}

.BoxPanel {
    min-width: 300px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: top;
}

    .BoxPanel input[type="text"] {
        background-color: rgba(49, 52, 52, 0.01);
        width: 264px;
    }

    .BoxPanel TextArea {
        background-color: rgba(49, 52, 52, 0.01);
        border: none;
    }

    .BoxPanel Label {
        display: inline-block;
        width: 70px;
    }

    .BoxPanel Select {
        background-color: rgba(49, 52, 52, 0.01);
        width: 267px;
    }


.SongEditPanel {
    width: 65%;
}

.SongEditLyricsPanel {
    width: 65%;
}

.SongEditNotesPanel {
    width: 20%;
}

.SongEditLyrics {
    width: 98%;
    height: 635px;
    margin: 2px;
}

.SongEditNotes {
    width: 98%;
    height: 635px;
    margin: 2px;
}

FieldSet legend {
    font: bold 14px arial;
    margin-bottom: 5px;
}


.Inline {
    display: inline-block;
}

.SidewayButtonPane {
    height: 450px;
    width: 30px;
    vertical-align: bottom;
    text-align: center;
}

    .SidewayButtonPane input {
        margin-top: 5px;
    }


.SongVerse {
    padding: 5px;
    background-color: white;
    /* outer shadows  (note the rgba is red, green, blue, alpha) */
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
    /* rounded corners */
    -webkit-border-radius: 12px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    /* gradients */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(246, 246, 246)), color-stop(15%, rgb(240, 240, 240)), color-stop(100%, #E1E1E1));
    font-family:'DejaVu Sans Mono';
    margin-bottom: 10px;
    width: 45%;
    max-width: 700px;
}

.LineVerseHeading {
    font: bold 12px arial;
}

.LineVerseLyrics {
    display: inline-block;
    vertical-align: top;
}

.LineChord {
    font-weight: bold;
}

.LineLyrics {
    font-weight: normal;
}

.LineVerseNotes {
    float: right;
    clear: both;
    margin-left:auto; 
    margin-right:0px;
    display: inline-block;
    vertical-align: top;
    font-family:'Global Monospace';
}
