<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net45" />
  <package id="Eto.Forms" version="2.3.0" targetFramework="net45" />
  <package id="Eto.Platform.Gtk" version="2.3.0" targetFramework="net45" />
  <package id="Eto.Platform.Wpf" version="2.3.0" targetFramework="net45" />
  <package id="log4net" version="2.0.12" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net45" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net45" requireReinstallation="true" />
  <package id="Tools.InnoSetup" version="6.2.0" targetFramework="net45" />
</packages>