/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.DisplayPage {

}

body {
    background-color: <%BackgroundColor%>;
    padding-bottom: 1080px;

}

@media print { 
	body
	{ 
		padding-bottom: 0px;
	}
}

.DisplaySongVerse {
    padding: 5px;
    margin-bottom: 20px;
    break-inside: avoid-column; 
    -webkit-column-break-inside: avoid;
    border: 2px solid <%VerseBorderColor%>;
    border-radius: 7px;
    margin-right: 10px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, <%HeadingBackgroundColor%>), color-stop(15%, <%VerseBackgroundColor2%>), color-stop(100%, <%VerseBackgroundColor1%>));
	background: <%VerseBackgroundColor2%>; /* Old browsers */
    background: -moz-linear-gradient(top,  <%HeadingBackgroundColor%> 0%, <%VerseBackgroundColor1%> 15%, <%VerseBackgroundColor2%> 100%); /* FF3.6+ */
    background: -o-linear-gradient(top,  <%HeadingBackgroundColor%> 0%,<%VerseBackgroundColor1%> 15%, <%VerseBackgroundColor2%> 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  <%HeadingBackgroundColor%> 0%,<%VerseBackgroundColor1%> 15%, <%VerseBackgroundColor2%> 100%); /* IE10+ */
    background: linear-gradient(to bottom,  <%HeadingBackgroundColor%> 0%,<%VerseBackgroundColor1%> 15%, <%VerseBackgroundColor2%> 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='<%VerseBackgroundColor1%>', endColorstr='<%VerseBackgroundColor2%>',GradientType=0 ); /* IE6-9 */
    display: <%SongOrientation%>;
    vertical-align: top;
}

.DisplaySongVerseOffPage {
    padding: 5px;
    margin-bottom: 20px;
    break-inside: avoid-column; 
    -webkit-column-break-inside: avoid;
    border: 2px solid <%VerseBorderColor%>;
    border-radius: 7px;
    margin-right: 10px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, <%PartialHeadingBackgroundColor%>), color-stop(15%, <%VerseBackgroundColor2%>), color-stop(100%, <%VerseBackgroundColor1%>));
	background: <%VerseBackgroundColor2%>; /* Old browsers */
    background: -moz-linear-gradient(top,  <%PartialHeadingBackgroundColor%> 0%, <%VerseBackgroundColor1%> 15%, <%VerseBackgroundColor2%> 100%); /* FF3.6+ */
    background: -o-linear-gradient(top,  <%PartialHeadingBackgroundColor%> 0%,<%VerseBackgroundColor1%> 15%, <%VerseBackgroundColor2%> 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  <%PartialHeadingBackgroundColor%> 0%,<%VerseBackgroundColor1%> 15%, <%VerseBackgroundColor2%> 100%); /* IE10+ */
    background: linear-gradient(to bottom,  <%PartialHeadingBackgroundColor%> 0%,<%VerseBackgroundColor1%> 15%, <%VerseBackgroundColor2%> 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='<%VerseBackgroundColor1%>', endColorstr='<%VerseBackgroundColor2%>',GradientType=0 ); /* IE6-9 */
    display: <%SongOrientation%>;
    vertical-align: top;
}

.DisplaySongName {
    -webkit-column-break-inside: avoid;
    font-size: <%TitleFontSize%>px;
    font-weight: <%TitleWeight%>;
    font-family: "<%TitleFont%>", Courier, monospace;
    color: <%TitleColor%>;
    width: 100%;
}

.DisplaySongOrder {
    font: bold 36px;
    color: #FF8040;
}

.DisplayLineVerseHeading {
    font-size: <%HeadingFontSize%>px;
    font-weight: <%HeadingWeight%>;
    font-family: "<%HeadingFont%>", Courier, monospace;
    color: <%HeadingColor%>;
    line-height: 110%;
}

.DisplayLineVerseLyrics {
    display: inline-block;
}

.DisplayLineChord {
    font-size: <%ChordFontSize%>px;
    font-weight: <%ChordWeight%>;
    font-family: "<%ChordFont%>", Courier, monospace;
    color: <%ChordColor%>;
}

.DisplayLineLyrics {
    font-size: <%LyricFontSize%>px;
    font-weight: <%LyricWeight%>;
    font-family: "<%LyricFont%>", Courier, monospace;
    color: <%LyricColor%>;
}

.DisplayLineVerseNotes {
    margin-left: auto;
    margin-right: 0px;
    display: inline-block;
    vertical-align: top;
    font-size: <%NoteFontSize%>px;
    font-weight: <%NoteWeight%>;
    font-family: "<%NoteFont%>", Courier, monospace;
    color: <%NoteColor%>;
    
}

.DisplayBody body {
    background-color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}