<?xml version="1.0"?>
<configuration>
  <appSettings file="OpenChordsWebSettings.xml"/>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <!--<authentication mode="Forms">
      <forms loginUrl="Login.aspx"
             protection="All"
             timeout="120"
             name=".OpenChordsAuth"
             path="/"
             requireSSL="false"
             slidingExpiration="true"
             defaultUrl="default.aspx"
             cookieless="UseDeviceProfile"
             enableCrossAppRedirects="false" />
    </authentication>-->
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--enable this if you want to use authentication-->
  <!--<system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>-->
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>